In [ ]:
!apt install mongodb > /dev/null
#!apt install mongodb 
from pymongo import MongoClient
import pandas as pd
import dateutil
!service mongodb start

WARNING: apt does not have a stable CLI interface. Use with caution in scripts.

 * Starting database mongodb
   ...done.

In [ ]:
# The Password is visible in this cell
# If you wish to hide this then use the next cell
#
rhostName = 'hidden'   # place your own credentials here
ruserName = 'hidden'      # place your own credentials here
rpassWord = 'hidden'      # place your own credentials here
rdbName =  'hidden'         # place your own credentials here
rMongoURI = 'hidden'         # place your own credentials here

In [ ]:
mongoURI = rMongoURI                                   # for remote server
#mongoURI = "mongodb://localhost:27017/"                 # for local server
client = MongoClient(mongoURI)
client.list_database_names() # ['admin', 'local']

In [ ]:
#db = client.PraxisDB
db = client.bkgqbp7kjnlijwn
db.list_collection_names()

['credits']

In [ ]:
# Delete collection
db.drop_collection('restaurants')

{'operationTime': Timestamp(1674150970, 48),
 'ok': 0.0,
 'errmsg': 'ns not found',
 'code': 26,
 'codeName': 'NamespaceNotFound',
 '$clusterTime': {'clusterTime': Timestamp(1674150970, 48),
  'signature': {'hash': b"\x15\xbb\x9c'\xe6M\xf6\x14\x08\xc2\xd93[\xae\xb6\x1blu\xc2\x0c",
   'keyId': 7146300907339120641}}}

In [ ]:
table = db.credits
table.count_documents({})

5406

In [ ]:
!wget -q 'file path'

In [ ]:
!mongoimport --uri "{rMongoURI}"  --collection "restaurants" --drop  --file "dataset.json" --jsonArray

/bin/bash: mongoimport: command not found

In [ ]:
mongoURI = rMongoURI                        # remote
client = MongoClient(mongoURI)
client.list_database_names()

In [1]:
db = client.bkgqbp7kjnlijwn
db.list_collection_names()

NameError: ignored

In [ ]:
table = db.restaurants
table.count_documents({})

0

In [ ]:
# db.restaurants.rename('credits', dropTarget = True)

In [ ]:
c1 = db.credits.find().limit(3)
for crnt in c1:
    print(crnt)

{'_id': ObjectId('63c58114f53e839bcff4c9f7'), 'Loan No': 'BLPAN000005312', 'Customer Name': 'PERMINDER SINGH', 'Branch': 'Panipat', 'Loan Amt': 50000, 'Loan Period': 12, 'EMI Amount': 5417, 'Crif Score': 620, 'Marital Status': 'married', 'Gender': 'Male', 'Business Vintage': 10, 'STP': 'Approved', 'Industry': 'Furnitures & Fixtures/Wood and Allied Activities', 'Age': 38, 'Status': 'Bounce'}
{'_id': ObjectId('63c58114f53e839bcff4c9f8'), 'Loan No': 'BLPAN000005311', 'Customer Name': 'Ashok Kumar', 'Branch': 'Panipat', 'Loan Amt': 50000, 'Loan Period': 12, 'EMI Amount': 5417, 'Crif Score': 300, 'Marital Status': 'married', 'Gender': 'Male', 'Business Vintage': 17, 'STP': 'Declined', 'Industry': 'Others', 'Age': 45, 'Status': 'Bounce'}
{'_id': ObjectId('63c58114f53e839bcff4c9f9'), 'Loan No': 'BLPAN000005314', 'Customer Name': 'RAHUL Kashyap', 'Branch': 'Panipat', 'Loan Amt': 50000, 'Loan Period': 12, 'EMI Amount': 5417, 'Crif Score': 653, 'Marital Status': 'married', 'Gender': 'Male', 'Business Vintage': 6, 'STP': 'Approved', 'Industry': 'Mobile,Accessories and Repair', 'Age': 31, 'Status': 'Bounce'}

In [ ]:
# converting into the dataframe
table=db.credits
df = pd.DataFrame(list(table.find({},{"Loan_No" : 1,"Customer Name":1,"Branch":1
                                      ,"Loan Amt" :1,"Loan Period":1,"_id":0}).limit(10)))
df

       Customer Name       Branch  Loan Amt  Loan Period
0    PERMINDER SINGH      Panipat     50000           12
1        Ashok Kumar      Panipat     50000           12
2      RAHUL Kashyap      Panipat     50000           12
3          PRABHU K     Bengaluru     50000           12
4           JYOTHI V    Bengaluru     50000            9
5       SUSHIL KUMAR      Sonipat     40000            9
6        SHAMBHAVI .    Bengaluru     40000            9
7        SOURAV GARG  Kurukshetra     35000            9
8  Sanjeev Kumar Jha      Panipat     50000           12
9       PARAS DHAWAN  Kurukshetra     35000            9

In [ ]:
# displaying all the accounts under branch mumbai
c1 = table.find({"Branch": "Mumbai"}).limit(3)
for crnt in c1:
    print(crnt)

{'_id': ObjectId('63c58115f53e839bcff4cffb'), 'Loan No': 'BLMUM000006785', 'Customer Name': 'BALMUKUND PANNALAL', 'Branch': 'Mumbai', 'Loan Amt': 35000, 'Loan Period': 9, 'EMI Amount': 4589, 'Crif Score': 710, 'Marital Status': 'single', 'Gender': 'Male', 'Business Vintage': 7, 'STP': 'Approved', 'Industry': 'Engineering', 'Age': 28, 'Status': 'Cleared'}
{'_id': ObjectId('63c58115f53e839bcff4d003'), 'Loan No': 'BLMUM000006793', 'Customer Name': 'BHAVANI SHANKAR', 'Branch': 'Mumbai', 'Loan Amt': 50000, 'Loan Period': 12, 'EMI Amount': 5167, 'Crif Score': 542, 'Marital Status': 'married', 'Gender': 'Male', 'Business Vintage': 8, 'STP': 'Declined', 'Industry': 'General/Grocery Store', 'Age': 29, 'Status': 'Cleared'}
{'_id': ObjectId('63c58115f53e839bcff4d00d'), 'Loan No': 'BLMUM000006802', 'Customer Name': 'TRIPURARI MISHRA AMARNATH', 'Branch': 'Mumbai', 'Loan Amt': 50000, 'Loan Period': 12, 'EMI Amount': 5167, 'Crif Score': 678, 'Marital Status': 'married', 'Gender': 'Female', 'Business Vintage': 20, 'STP': 'Declined', 'Industry': 'General/Grocery Store', 'Age': 34, 'Status': 'Bounce'}

In [ ]:
# converting the above output into dataframe
df1=pd.DataFrame(list(table.find({"Branch": "Mumbai"}).limit(3)))
df1

,_id,Loan No,Customer Name,Branch,Loan Amt,Loan Period,EMI Amount,Crif Score,Marital Status,Gender,Business Vintage,STP,Industry,Age,Status
0,63c58115f53e839bcff4cffb,BLMUM000006785,BALMUKUND PANNALAL,Mumbai,35000,9,4589,710,single,Male,7,Approved,Engineering,28,Cleared
1,63c58115f53e839bcff4d003,BLMUM000006793,BHAVANI SHANKAR,Mumbai,50000,12,5167,542,married,Male,8,Declined,General/Grocery Store,29,Cleared
2,63c58115f53e839bcff4d00d,BLMUM000006802,TRIPURARI MISHRA AMARNATH,Mumbai,50000,12,5167,678,married,Female,20,Declined,General/Grocery Store,34,Bounce

In [ ]:
# finding people whose crif age > 50
c1 = db.credits.find({"Age" : {"$gt" : 50}}).limit(10)
for crnt in c1:
    print(crnt)

{'_id': ObjectId('63c58114f53e839bcff4c9fc'), 'Loan No': 'BLSON000005317', 'Customer Name': 'SUSHIL KUMAR', 'Branch': 'Sonipat', 'Loan Amt': 40000, 'Loan Period': 9, 'EMI Amount': 5444, 'Crif Score': 738, 'Marital Status': 'married', 'Gender': 'Male', 'Business Vintage': 4, 'STP': 'Declined', 'Industry': 'General / Grocery Stores ', 'Age': 55, 'Status': 'Cleared'}
{'_id': ObjectId('63c58114f53e839bcff4ca12'), 'Loan No': 'BLJAI000005338', 'Customer Name': 'Babulal .', 'Branch': 'Jaipur', 'Loan Amt': 40000, 'Loan Period': 9, 'EMI Amount': 5244, 'Crif Score': 738, 'Marital Status': 'married', 'Gender': 'Male', 'Business Vintage': 7, 'STP': 'Declined', 'Industry': 'Metal (Iron, steel, aluminium)', 'Age': 53, 'Status': 'Bounce'}
{'_id': ObjectId('63c58114f53e839bcff4ca20'), 'Loan No': 'BLWBN000005353', 'Customer Name': 'Gangamma N', 'Branch': 'Bengaluru', 'Loan Amt': 40000, 'Loan Period': 9, 'EMI Amount': 5444, 'Crif Score': 680, 'Marital Status': 'married', 'Gender': 'Female', 'Business Vintage': 20, 'STP': 'Approved', 'Industry': 'General / Grocery Stores ', 'Age': 55, 'Status': 'Bounce'}
{'_id': ObjectId('63c58114f53e839bcff4ca6f'), 'Loan No': 'BLJAI000005384', 'Customer Name': 'Sanjib Badalia', 'Branch': 'Jaipur', 'Loan Amt': 30000, 'Loan Period': 9, 'EMI Amount': 4083, 'Crif Score': 800, 'Marital Status': 'married', 'Gender': 'Male', 'Business Vintage': 10, 'STP': 'Declined', 'Industry': 'Gifts/ Stationary / Cosmetic', 'Age': 56, 'Status': 'Cleared'}
{'_id': ObjectId('63c58114f53e839bcff4ca77'), 'Loan No': 'BLSON000005393', 'Customer Name': 'Rajkumar ', 'Branch': 'Sonipat', 'Loan Amt': 25000, 'Loan Period': 9, 'EMI Amount': 3403, 'Crif Score': 0, 'Marital Status': 'married', 'Gender': 'Male', 'Business Vintage': 10, 'STP': 'Approved', 'Industry': 'Tailor / Boutique', 'Age': 56, 'Status': 'Bounce'}
{'_id': ObjectId('63c58114f53e839bcff4ca82'), 'Loan No': 'BLKUR000005404', 'Customer Name': 'CHANDER SHEKHAR VERMA', 'Branch': 'Kurukshetra', 'Loan Amt': 40000, 'Loan Period': 9, 'EMI Amount': 5244, 'Crif Score': 685, 'Marital Status': 'married', 'Gender': 'Male', 'Business Vintage': 4, 'STP': 'Approved', 'Industry': 'Handloom Industry', 'Age': 54, 'Status': 'Cleared'}
{'_id': ObjectId('63c58114f53e839bcff4ca98'), 'Loan No': 'BLSON000005425', 'Customer Name': 'MEHTAB .', 'Branch': 'Sonipat', 'Loan Amt': 50000, 'Loan Period': 12, 'EMI Amount': 5167, 'Crif Score': 738, 'Marital Status': 'married', 'Gender': 'Male', 'Business Vintage': 8, 'STP': 'Declined', 'Industry': 'Others', 'Age': 59, 'Status': 'Bounce'}
{'_id': ObjectId('63c58114f53e839bcff4caa2'), 'Loan No': 'BLWBN000005436', 'Customer Name': 'S Soundar ', 'Branch': 'Bengaluru', 'Loan Amt': 30000, 'Loan Period': 9, 'EMI Amount': 4083, 'Crif Score': 642, 'Marital Status': 'married', 'Gender': 'Male', 'Business Vintage': 12, 'STP': 'Approved', 'Industry': 'Restaurant services /Food distributor/Snacks', 'Age': 51, 'Status': 'Bounce'}
{'_id': ObjectId('63c58114f53e839bcff4caa6'), 'Loan No': 'BLBEN000005439', 'Customer Name': 'RAVICHANDRA V', 'Branch': 'Bengaluru', 'Loan Amt': 50000, 'Loan Period': 9, 'EMI Amount': 6556, 'Crif Score': 611, 'Marital Status': 'married', 'Gender': 'Male', 'Business Vintage': 20, 'STP': 'Approved', 'Industry': 'Others', 'Age': 55, 'Status': 'Bounce'}
{'_id': ObjectId('63c58114f53e839bcff4caa8'), 'Loan No': 'BLPAN000005441', 'Customer Name': 'AMARJEET SINGH', 'Branch': 'Panipat', 'Loan Amt': 40000, 'Loan Period': 9, 'EMI Amount': 5244, 'Crif Score': 17, 'Marital Status': 'married', 'Gender': 'Male', 'Business Vintage': 4, 'STP': 'Declined', 'Industry': 'General/Grocery Store', 'Age': 55, 'Status': 'Bounce'}

In [ ]:
c1 = db.credits.find(
               {"$and":
                    [
                       {"Branch" : {"$ne" :"Mumbai"}},
                       {"Age" : {"$gt" : 50}},
                       {"Crif Score" : {"$lt" : 630}}
                    ]
                }
                    ).limit(10);
for crnt in c1:
    print(crnt)

{'_id': ObjectId('63c58114f53e839bcff4ca77'), 'Loan No': 'BLSON000005393', 'Customer Name': 'Rajkumar ', 'Branch': 'Sonipat', 'Loan Amt': 25000, 'Loan Period': 9, 'EMI Amount': 3403, 'Crif Score': 0, 'Marital Status': 'married', 'Gender': 'Male', 'Business Vintage': 10, 'STP': 'Approved', 'Industry': 'Tailor / Boutique', 'Age': 56, 'Status': 'Bounce'}
{'_id': ObjectId('63c58114f53e839bcff4caa6'), 'Loan No': 'BLBEN000005439', 'Customer Name': 'RAVICHANDRA V', 'Branch': 'Bengaluru', 'Loan Amt': 50000, 'Loan Period': 9, 'EMI Amount': 6556, 'Crif Score': 611, 'Marital Status': 'married', 'Gender': 'Male', 'Business Vintage': 20, 'STP': 'Approved', 'Industry': 'Others', 'Age': 55, 'Status': 'Bounce'}
{'_id': ObjectId('63c58114f53e839bcff4caa8'), 'Loan No': 'BLPAN000005441', 'Customer Name': 'AMARJEET SINGH', 'Branch': 'Panipat', 'Loan Amt': 40000, 'Loan Period': 9, 'EMI Amount': 5244, 'Crif Score': 17, 'Marital Status': 'married', 'Gender': 'Male', 'Business Vintage': 4, 'STP': 'Declined', 'Industry': 'General/Grocery Store', 'Age': 55, 'Status': 'Bounce'}
{'_id': ObjectId('63c58114f53e839bcff4cad5'), 'Loan No': 'BLJAI000005486', 'Customer Name': 'Pappu Saini', 'Branch': 'Jaipur', 'Loan Amt': 50000, 'Loan Period': 12, 'EMI Amount': 5417, 'Crif Score': 610, 'Marital Status': 'married', 'Gender': 'Male', 'Business Vintage': 18, 'STP': 'Approved', 'Industry': 'Interior & Decoration Services', 'Age': 51, 'Status': 'Bounce'}
{'_id': ObjectId('63c58114f53e839bcff4cafe'), 'Loan No': 'BLBEN000005530', 'Customer Name': 'Shivanna R', 'Branch': 'Bengaluru', 'Loan Amt': 50000, 'Loan Period': 12, 'EMI Amount': 5417, 'Crif Score': 627, 'Marital Status': 'married', 'Gender': 'Male', 'Business Vintage': 5, 'STP': 'Approved', 'Industry': 'Others', 'Age': 57, 'Status': 'Cleared'}
{'_id': ObjectId('63c58114f53e839bcff4cb48'), 'Loan No': 'BLTKR000005604', 'Customer Name': 'Naresh Kumar', 'Branch': 'Tumkur', 'Loan Amt': 50000, 'Loan Period': 12, 'EMI Amount': 5417, 'Crif Score': 616, 'Marital Status': 'married', 'Gender': 'Male', 'Business Vintage': 18, 'STP': 'Approved', 'Industry': 'Others', 'Age': 57, 'Status': 'Bounce'}
{'_id': ObjectId('63c58114f53e839bcff4cb4a'), 'Loan No': 'BLTKR000005608', 'Customer Name': 'Rukmini T R', 'Branch': 'Tumkur', 'Loan Amt': 40000, 'Loan Period': 9, 'EMI Amount': 5445, 'Crif Score': 623, 'Marital Status': 'married', 'Gender': 'Female', 'Business Vintage': 5, 'STP': 'Approved', 'Industry': 'Gifts/Stationary/Cosmetic', 'Age': 55, 'Status': 'Bounce'}
{'_id': ObjectId('63c58114f53e839bcff4cb51'), 'Loan No': 'BLWBN000005614', 'Customer Name': 'Sharatha kumar Shetty ', 'Branch': 'Bengaluru', 'Loan Amt': 30000, 'Loan Period': 9, 'EMI Amount': 4084, 'Crif Score': 0, 'Marital Status': 'married', 'Gender': 'Male', 'Business Vintage': 20, 'STP': 'Approved', 'Industry': 'Others', 'Age': 53, 'Status': 'Cleared'}
{'_id': ObjectId('63c58114f53e839bcff4cb93'), 'Loan No': 'BLWBN000005680', 'Customer Name': 'Mahesh C M ', 'Branch': 'Bengaluru', 'Loan Amt': 40000, 'Loan Period': 9, 'EMI Amount': 5445, 'Crif Score': 558, 'Marital Status': 'married', 'Gender': 'Male', 'Business Vintage': 15, 'STP': 'Approved', 'Industry': 'Tailor / Boutique', 'Age': 51, 'Status': 'Bounce'}
{'_id': ObjectId('63c58114f53e839bcff4cbbb'), 'Loan No': 'BLDDN000005720', 'Customer Name': 'KIRAN KIRAN', 'Branch': 'Dehradun', 'Loan Amt': 30000, 'Loan Period': 9, 'EMI Amount': 4084, 'Crif Score': 589, 'Marital Status': 'married', 'Gender': 'Female', 'Business Vintage': 4, 'STP': 'Approved', 'Industry': 'General/Grocery Store', 'Age': 51, 'Status': 'Cleared'}

In [ ]:
c1 = db.restaurants.find(
                     {"$query":
                            {
                             "Branch" : {"$ne" : "Mumbai"},
                             "Crif Score" :">630",

                            },
                              "$orderby" : {"Branch":1}
                      } ,
                    );
for i in c1:
  print(i)

In [ ]:
!pip3 -q install pyspark
from pyspark.sql import SparkSession
spark = SparkSession \
    .builder \
    .appName("mongodbtest1") \
    .master('local')\
    .config("spark.mongodb.input.uri", "mongodb://hduser:bigdata@127.0.0.1:27017/dezyre.books") \
    .config("spark.mongodb.output.uri", "mongodb://hduser:bigdata@127.0.0.1:27017/dezyre.books") \
    .config('spark.jars.packages', 'org.mongodb.spark:mongo-spark-connector_2.12:3.0.1') \
    .getOrCreate()
sc = spark.sparkContext
#sc

In [ ]:
from pyspark.sql.functions import mean
from pyspark.ml.feature import (VectorAssembler,OneHotEncoder, StringIndexer)
from pyspark.ml import Pipeline
from pyspark.ml import PipelineModel
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.classification import RandomForestClassifier
from pyspark.ml.classification import GBTClassifier
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [ ]:
df = spark.read.format("mongo").option("uri","mongodb://ujltk56zd8j1eav8zc6u:2Jrn3zYXedMyE468Zlh4@n1-c2-mongodb-clevercloud-customers.services.clever-cloud.com:27017,n2-c2-mongodb-clevercloud-customers.services.clever-cloud.com:27017/bkgqbp7kjnlijwn.credits").load()
df.show()

+---+-----------+----------------+----------+--------------------+----------+------+--------------------+--------+--------------+-----------+--------------+--------+-------+--------------------+
|Age|     Branch|Business Vintage|Crif Score|       Customer Name|EMI Amount|Gender|            Industry|Loan Amt|       Loan No|Loan Period|Marital Status|     STP| Status|                 _id|
+---+-----------+----------------+----------+--------------------+----------+------+--------------------+--------+--------------+-----------+--------------+--------+-------+--------------------+
| 38|    Panipat|              10|       620|     PERMINDER SINGH|      5417|  Male|Furnitures & Fixt...|   50000|BLPAN000005312|         12|       married|Approved| Bounce|{63c58114f53e839b...|
| 45|    Panipat|              17|       300|         Ashok Kumar|      5417|  Male|              Others|   50000|BLPAN000005311|         12|       married|Declined| Bounce|{63c58114f53e839b...|
| 31|    Panipat|               6|       653|       RAHUL Kashyap|      5417|  Male|Mobile,Accessorie...|   50000|BLPAN000005314|         12|       married|Approved| Bounce|{63c58114f53e839b...|
| 48|  Bengaluru|              10|        16|           PRABHU K |      5417|  Male|Electrical applia...|   50000|BLBEN000005313|         12|       married|Declined|Cleared|{63c58114f53e839b...|
| 35|  Bengaluru|              12|       700|            JYOTHI V|      6806|Female|Footwear & Access...|   50000|BLBEN000005315|          9|       married|Approved|Cleared|{63c58114f53e839b...|
| 55|    Sonipat|               4|       738|        SUSHIL KUMAR|      5444|  Male|General / Grocery...|   40000|BLSON000005317|          9|       married|Declined|Cleared|{63c58114f53e839b...|
| 28|  Bengaluru|              12|       668|         SHAMBHAVI .|      5444|Female|Electrical applia...|   40000|BLBEN000005316|          9|       married|Approved| Bounce|{63c58114f53e839b...|
| 26|Kurukshetra|               4|       679|         SOURAV GARG|      4764|  Male|General/Grocery S...|   35000|BLKUR000005318|          9|        single|Declined|Cleared|{63c58114f53e839b...|
| 37|    Panipat|               4|       725|   Sanjeev Kumar Jha|      5417|  Male|             Textile|   50000|BLPAN000005319|         12|       married|Declined|Cleared|{63c58114f53e839b...|
| 24|Kurukshetra|              30|       738|        PARAS DHAWAN|      4764|  Male|              Others|   35000|BLKUR000005320|          9|        single|Approved|Cleared|{63c58114f53e839b...|
| 25|Kurukshetra|               5|         0|     BALJINDER SINGH|      3403|  Male|Automobile Repair...|   25000|BLKUR000005322|          9|       married|Declined| Bounce|{63c58114f53e839b...|
| 47|  Bengaluru|               9|       738|       ANNAPURNAMMA |      5167|Female|Metal (Iron, stee...|   50000|BLBEN000005323|         12|       married|Declined|Cleared|{63c58114f53e839b...|
| 33|  Bengaluru|               5|       713|            Shobha G|      5245|Female|Internet cafe /di...|   40000|BLBEN000005324|          9|       married|Declined|Cleared|{63c58114f53e839b...|
| 42|     Karnal|               8|       726|              SAROJ |      5445|Female|General / Grocery...|   40000|BLKAR000005325|          9|       married|Approved|Cleared|{63c58114f53e839b...|
| 27|     Jaipur|               5|       676|SARDAR SINGH CHOU...|      9584|  Male|        Garment Shop|   50000|BLJAI000005321|          6|       married|Approved| Bounce|{63c58114f53e839b...|
| 29|     Jaipur|               5|       738|            DIMPLE .|      5167|Female|      FMCG / Telecom|   50000|BLJAI000005327|         12|       married|Declined| Bounce|{63c58114f53e839b...|
| 35|     Jaipur|               6|       738|        Kishan Saini|      5167|  Male|      FMCG / Telecom|   50000|BLJAI000005328|         12|       Married|Declined| Bounce|{63c58114f53e839b...|
| 29|     Jaipur|               9|       749|      Puran Prajapat|      4083|  Male|   Tailor / Boutique|   30000|BLJAI000005329|          9|       married|Declined| Bounce|{63c58114f53e839b...|
| 33|    Sonipat|               6|       691|         ASHOK KUMAR|      5417|  Male|Electrical applia...|   50000|BLSON000005330|         12|       married|Declined|Cleared|{63c58114f53e839b...|
| 23|    Panipat|              12|        17|        NITIN KUMAR |      4084|  Male|Mobile,Accessorie...|   30000|BLPAN000005326|          9|       married|Approved|Cleared|{63c58114f53e839b...|
+---+-----------+----------------+----------+--------------------+----------+------+--------------------+--------+--------------+-----------+--------------+--------+-------+--------------------+
only showing top 20 rows

In [ ]:
df.dtypes

[('Age', 'int'),
 ('Branch', 'string'),
 ('Business Vintage', 'int'),
 ('Crif Score', 'int'),
 ('Customer Name', 'string'),
 ('EMI Amount', 'int'),
 ('Gender', 'string'),
 ('Industry', 'string'),
 ('Loan Amt', 'int'),
 ('Loan No', 'string'),
 ('Loan Period', 'int'),
 ('Marital Status', 'string'),
 ('STP', 'string'),
 ('Status', 'string'),
 ('_id', 'struct<oid:string>')]

In [ ]:
df=df.select("Age","Gender","Crif Score","EMI Amount","Marital Status","STP","Status")

In [ ]:
df.show()

+---+------+----------+----------+--------------+--------+-------+
|Age|Gender|Crif Score|EMI Amount|Marital Status|     STP| Status|
+---+------+----------+----------+--------------+--------+-------+
| 38|  Male|       620|      5417|       married|Approved| Bounce|
| 45|  Male|       300|      5417|       married|Declined| Bounce|
| 31|  Male|       653|      5417|       married|Approved| Bounce|
| 48|  Male|        16|      5417|       married|Declined|Cleared|
| 35|Female|       700|      6806|       married|Approved|Cleared|
| 55|  Male|       738|      5444|       married|Declined|Cleared|
| 28|Female|       668|      5444|       married|Approved| Bounce|
| 26|  Male|       679|      4764|        single|Declined|Cleared|
| 37|  Male|       725|      5417|       married|Declined|Cleared|
| 24|  Male|       738|      4764|        single|Approved|Cleared|
| 25|  Male|         0|      3403|       married|Declined| Bounce|
| 47|Female|       738|      5167|       married|Declined|Cleared|
| 33|Female|       713|      5245|       married|Declined|Cleared|
| 42|Female|       726|      5445|       married|Approved|Cleared|
| 27|  Male|       676|      9584|       married|Approved| Bounce|
| 29|Female|       738|      5167|       married|Declined| Bounce|
| 35|  Male|       738|      5167|       Married|Declined| Bounce|
| 29|  Male|       749|      4083|       married|Declined| Bounce|
| 33|  Male|       691|      5417|       married|Declined|Cleared|
| 23|  Male|        17|      4084|       married|Approved|Cleared|
+---+------+----------+----------+--------------+--------+-------+
only showing top 20 rows

In [ ]:
#checking null values
df.toPandas().isnull().sum()

Age               0
Gender            0
Crif Score        0
EMI Amount        0
Marital Status    0
STP               0
Status            0
dtype: int64

In [ ]:
# statistical description to dataset
df.describe().show()

+-------+-----------------+------+-----------------+------------------+--------------+--------+-------+
|summary|              Age|Gender|       Crif Score|        EMI Amount|Marital Status|     STP| Status|
+-------+-----------------+------+-----------------+------------------+--------------+--------+-------+
|  count|             5406|  5406|             5406|              5406|          5406|    5406|   5406|
|   mean|35.63577506474288|  null|504.8233444321125|4736.3200147983725|          null|    null|   null|
| stddev|8.767949382505972|  null|283.7674544975072|1192.0681320803847|          null|    null|   null|
|    min|               19|Female|                0|              2042|       Married|Approved| Bounce|
|    max|               71|  Male|              870|             51143|        single|Declined|Cleared|
+-------+-----------------+------+-----------------+------------------+--------------+--------+-------+

In [ ]:
# checking the data types
df.dtypes

[('Age', 'int'),
 ('Gender', 'string'),
 ('Crif Score', 'int'),
 ('EMI Amount', 'int'),
 ('Marital Status', 'string'),
 ('STP', 'string'),
 ('Status', 'string')]

In [ ]:
# String Indexer
GenderIndexer=StringIndexer(inputCol="Gender", outputCol="genderIndex")
MaritalIndexer=StringIndexer(inputCol="Marital Status", outputCol="maritalIndex")
STPIndexer=StringIndexer(inputCol="STP", outputCol="stpIndex")
StatusIndexer=StringIndexer(inputCol="Status", outputCol="statusIndex")

In [ ]:
df.show(5)

+---+------+----------+----------+--------------+--------+-------+
|Age|Gender|Crif Score|EMI Amount|Marital Status|     STP| Status|
+---+------+----------+----------+--------------+--------+-------+
| 38|  Male|       620|      5417|       married|Approved| Bounce|
| 45|  Male|       300|      5417|       married|Declined| Bounce|
| 31|  Male|       653|      5417|       married|Approved| Bounce|
| 48|  Male|        16|      5417|       married|Declined|Cleared|
| 35|Female|       700|      6806|       married|Approved|Cleared|
+---+------+----------+----------+--------------+--------+-------+
only showing top 5 rows

In [ ]:
GenderIndexer.fit(df).transform(df).show(5)

+---+------+----------+----------+--------------+--------+-------+-----------+
|Age|Gender|Crif Score|EMI Amount|Marital Status|     STP| Status|genderIndex|
+---+------+----------+----------+--------------+--------+-------+-----------+
| 38|  Male|       620|      5417|       married|Approved| Bounce|        0.0|
| 45|  Male|       300|      5417|       married|Declined| Bounce|        0.0|
| 31|  Male|       653|      5417|       married|Approved| Bounce|        0.0|
| 48|  Male|        16|      5417|       married|Declined|Cleared|        0.0|
| 35|Female|       700|      6806|       married|Approved|Cleared|        1.0|
+---+------+----------+----------+--------------+--------+-------+-----------+
only showing top 5 rows

In [ ]:
MaritalIndexer.fit(GenderIndexer.fit(df).transform(df)).transform(GenderIndexer.fit(df).transform(df)).show(5)

+---+------+----------+----------+--------------+--------+-------+-----------+------------+
|Age|Gender|Crif Score|EMI Amount|Marital Status|     STP| Status|genderIndex|maritalIndex|
+---+------+----------+----------+--------------+--------+-------+-----------+------------+
| 38|  Male|       620|      5417|       married|Approved| Bounce|        0.0|         0.0|
| 45|  Male|       300|      5417|       married|Declined| Bounce|        0.0|         0.0|
| 31|  Male|       653|      5417|       married|Approved| Bounce|        0.0|         0.0|
| 48|  Male|        16|      5417|       married|Declined|Cleared|        0.0|         0.0|
| 35|Female|       700|      6806|       married|Approved|Cleared|        1.0|         0.0|
+---+------+----------+----------+--------------+--------+-------+-----------+------------+
only showing top 5 rows

In [ ]:
df2=STPIndexer.fit(MaritalIndexer.fit(GenderIndexer.fit(df).transform(df)).transform(GenderIndexer.fit(df).transform(df))).transform(MaritalIndexer.fit(GenderIndexer.fit(df).transform(df)).transform(GenderIndexer.fit(df).transform(df)))

In [ ]:
df3=StatusIndexer.fit(STPIndexer.fit(MaritalIndexer.fit(GenderIndexer.fit(df).transform(df)).transform(GenderIndexer.fit(df).transform(df))).transform(MaritalIndexer.fit(GenderIndexer.fit(df).transform(df)).transform(GenderIndexer.fit(df).transform(df)))).transform(STPIndexer.fit(MaritalIndexer.fit(GenderIndexer.fit(df).transform(df)).transform(GenderIndexer.fit(df).transform(df))).transform(MaritalIndexer.fit(GenderIndexer.fit(df).transform(df)).transform(GenderIndexer.fit(df).transform(df))))

In [ ]:
OHE_Gender=OneHotEncoder(inputCols=['genderIndex'],outputCols=['genderVec'],dropLast=True)
OHE_Gender.fit(GenderIndexer.fit(df).transform(df)).transform(GenderIndexer.fit(df).transform(df)).show(15)

+---+------+----------+----------+--------------+--------+-------+-----------+-------------+
|Age|Gender|Crif Score|EMI Amount|Marital Status|     STP| Status|genderIndex|    genderVec|
+---+------+----------+----------+--------------+--------+-------+-----------+-------------+
| 38|  Male|       620|      5417|       married|Approved| Bounce|        0.0|(1,[0],[1.0])|
| 45|  Male|       300|      5417|       married|Declined| Bounce|        0.0|(1,[0],[1.0])|
| 31|  Male|       653|      5417|       married|Approved| Bounce|        0.0|(1,[0],[1.0])|
| 48|  Male|        16|      5417|       married|Declined|Cleared|        0.0|(1,[0],[1.0])|
| 35|Female|       700|      6806|       married|Approved|Cleared|        1.0|    (1,[],[])|
| 55|  Male|       738|      5444|       married|Declined|Cleared|        0.0|(1,[0],[1.0])|
| 28|Female|       668|      5444|       married|Approved| Bounce|        1.0|    (1,[],[])|
| 26|  Male|       679|      4764|        single|Declined|Cleared|        0.0|(1,[0],[1.0])|
| 37|  Male|       725|      5417|       married|Declined|Cleared|        0.0|(1,[0],[1.0])|
| 24|  Male|       738|      4764|        single|Approved|Cleared|        0.0|(1,[0],[1.0])|
| 25|  Male|         0|      3403|       married|Declined| Bounce|        0.0|(1,[0],[1.0])|
| 47|Female|       738|      5167|       married|Declined|Cleared|        1.0|    (1,[],[])|
| 33|Female|       713|      5245|       married|Declined|Cleared|        1.0|    (1,[],[])|
| 42|Female|       726|      5445|       married|Approved|Cleared|        1.0|    (1,[],[])|
| 27|  Male|       676|      9584|       married|Approved| Bounce|        0.0|(1,[0],[1.0])|
+---+------+----------+----------+--------------+--------+-------+-----------+-------------+
only showing top 15 rows

In [ ]:
from pyspark.ml.feature import OneHotEncoder
OHE_marital=OneHotEncoder(inputCols=['maritalIndex'],outputCols=['maritalVec'],dropLast=True)
OHE_marital.fit(MaritalIndexer.fit(df).transform(df)).transform(MaritalIndexer.fit(df).transform(df)).show(15)

+---+------+----------+----------+--------------+--------+-------+------------+-------------+
|Age|Gender|Crif Score|EMI Amount|Marital Status|     STP| Status|maritalIndex|   maritalVec|
+---+------+----------+----------+--------------+--------+-------+------------+-------------+
| 38|  Male|       620|      5417|       married|Approved| Bounce|         0.0|(5,[0],[1.0])|
| 45|  Male|       300|      5417|       married|Declined| Bounce|         0.0|(5,[0],[1.0])|
| 31|  Male|       653|      5417|       married|Approved| Bounce|         0.0|(5,[0],[1.0])|
| 48|  Male|        16|      5417|       married|Declined|Cleared|         0.0|(5,[0],[1.0])|
| 35|Female|       700|      6806|       married|Approved|Cleared|         0.0|(5,[0],[1.0])|
| 55|  Male|       738|      5444|       married|Declined|Cleared|         0.0|(5,[0],[1.0])|
| 28|Female|       668|      5444|       married|Approved| Bounce|         0.0|(5,[0],[1.0])|
| 26|  Male|       679|      4764|        single|Declined|Cleared|         1.0|(5,[1],[1.0])|
| 37|  Male|       725|      5417|       married|Declined|Cleared|         0.0|(5,[0],[1.0])|
| 24|  Male|       738|      4764|        single|Approved|Cleared|         1.0|(5,[1],[1.0])|
| 25|  Male|         0|      3403|       married|Declined| Bounce|         0.0|(5,[0],[1.0])|
| 47|Female|       738|      5167|       married|Declined|Cleared|         0.0|(5,[0],[1.0])|
| 33|Female|       713|      5245|       married|Declined|Cleared|         0.0|(5,[0],[1.0])|
| 42|Female|       726|      5445|       married|Approved|Cleared|         0.0|(5,[0],[1.0])|
| 27|  Male|       676|      9584|       married|Approved| Bounce|         0.0|(5,[0],[1.0])|
+---+------+----------+----------+--------------+--------+-------+------------+-------------+
only showing top 15 rows

In [ ]:
OHE_stp=OneHotEncoder(inputCols=['stpIndex'],outputCols=['stpVec'],dropLast=True)
OHE_stp.fit(STPIndexer.fit(df).transform(df)).transform(STPIndexer.fit(df).transform(df)).show(15)

+---+------+----------+----------+--------------+--------+-------+--------+-------------+
|Age|Gender|Crif Score|EMI Amount|Marital Status|     STP| Status|stpIndex|       stpVec|
+---+------+----------+----------+--------------+--------+-------+--------+-------------+
| 38|  Male|       620|      5417|       married|Approved| Bounce|     0.0|(1,[0],[1.0])|
| 45|  Male|       300|      5417|       married|Declined| Bounce|     1.0|    (1,[],[])|
| 31|  Male|       653|      5417|       married|Approved| Bounce|     0.0|(1,[0],[1.0])|
| 48|  Male|        16|      5417|       married|Declined|Cleared|     1.0|    (1,[],[])|
| 35|Female|       700|      6806|       married|Approved|Cleared|     0.0|(1,[0],[1.0])|
| 55|  Male|       738|      5444|       married|Declined|Cleared|     1.0|    (1,[],[])|
| 28|Female|       668|      5444|       married|Approved| Bounce|     0.0|(1,[0],[1.0])|
| 26|  Male|       679|      4764|        single|Declined|Cleared|     1.0|    (1,[],[])|
| 37|  Male|       725|      5417|       married|Declined|Cleared|     1.0|    (1,[],[])|
| 24|  Male|       738|      4764|        single|Approved|Cleared|     0.0|(1,[0],[1.0])|
| 25|  Male|         0|      3403|       married|Declined| Bounce|     1.0|    (1,[],[])|
| 47|Female|       738|      5167|       married|Declined|Cleared|     1.0|    (1,[],[])|
| 33|Female|       713|      5245|       married|Declined|Cleared|     1.0|    (1,[],[])|
| 42|Female|       726|      5445|       married|Approved|Cleared|     0.0|(1,[0],[1.0])|
| 27|  Male|       676|      9584|       married|Approved| Bounce|     0.0|(1,[0],[1.0])|
+---+------+----------+----------+--------------+--------+-------+--------+-------------+
only showing top 15 rows

In [ ]:
OHE_final = OneHotEncoder(inputCols=["genderIndex",'maritalIndex','stpIndex'],
                                 outputCols=["genderVec","maritalVec",'stpVec'])

In [ ]:
OHE_final.fit(df2).transform(df2)

DataFrame[Age: int, Gender: string, Crif Score: int, EMI Amount: int, Marital Status: string, STP: string, Status: string, genderIndex: double, maritalIndex: double, stpIndex: double, genderVec: vector, maritalVec: vector, stpVec: vector]

In [ ]:
F_assembler=VectorAssembler(inputCols=['genderVec','Age','Crif Score','EMI Amount',"maritalVec",'stpVec' ],outputCol='features')

In [ ]:
F_assembler.transform(OHE_final.fit(df3).transform(df3)).show(5)

+---+------+----------+----------+--------------+--------+-------+-----------+------------+--------+-----------+-------------+-------------+-------------+--------------------+
|Age|Gender|Crif Score|EMI Amount|Marital Status|     STP| Status|genderIndex|maritalIndex|stpIndex|statusIndex|    genderVec|   maritalVec|       stpVec|            features|
+---+------+----------+----------+--------------+--------+-------+-----------+------------+--------+-----------+-------------+-------------+-------------+--------------------+
| 38|  Male|       620|      5417|       married|Approved| Bounce|        0.0|         0.0|     0.0|        0.0|(1,[0],[1.0])|(5,[0],[1.0])|(1,[0],[1.0])|[1.0,38.0,620.0,5...|
| 45|  Male|       300|      5417|       married|Declined| Bounce|        0.0|         0.0|     1.0|        0.0|(1,[0],[1.0])|(5,[0],[1.0])|    (1,[],[])|(10,[0,1,2,3,4],[...|
| 31|  Male|       653|      5417|       married|Approved| Bounce|        0.0|         0.0|     0.0|        0.0|(1,[0],[1.0])|(5,[0],[1.0])|(1,[0],[1.0])|[1.0,31.0,653.0,5...|
| 48|  Male|        16|      5417|       married|Declined|Cleared|        0.0|         0.0|     1.0|        1.0|(1,[0],[1.0])|(5,[0],[1.0])|    (1,[],[])|(10,[0,1,2,3,4],[...|
| 35|Female|       700|      6806|       married|Approved|Cleared|        1.0|         0.0|     0.0|        1.0|    (1,[],[])|(5,[0],[1.0])|(1,[0],[1.0])|(10,[1,2,3,4,9],[...|
+---+------+----------+----------+--------------+--------+-------+-----------+------------+--------+-----------+-------------+-------------+-------------+--------------------+
only showing top 5 rows

In [ ]:
# splitting training and validation data
train_credit,val_credit = df.randomSplit([0.7,0.3])
print(train_credit.count())
print(val_credit.count())

3801
1605

In [ ]:
basePipe=Pipeline(stages=[GenderIndexer,MaritalIndexer,STPIndexer,StatusIndexer,OHE_final,F_assembler])
basePipe.fit(df).transform(df).show(5)

+---+------+----------+----------+--------------+--------+-------+-----------+------------+--------+-----------+-------------+-------------+-------------+--------------------+
|Age|Gender|Crif Score|EMI Amount|Marital Status|     STP| Status|genderIndex|maritalIndex|stpIndex|statusIndex|    genderVec|   maritalVec|       stpVec|            features|
+---+------+----------+----------+--------------+--------+-------+-----------+------------+--------+-----------+-------------+-------------+-------------+--------------------+
| 38|  Male|       620|      5417|       married|Approved| Bounce|        0.0|         0.0|     0.0|        0.0|(1,[0],[1.0])|(5,[0],[1.0])|(1,[0],[1.0])|[1.0,38.0,620.0,5...|
| 45|  Male|       300|      5417|       married|Declined| Bounce|        0.0|         0.0|     1.0|        0.0|(1,[0],[1.0])|(5,[0],[1.0])|    (1,[],[])|(10,[0,1,2,3,4],[...|
| 31|  Male|       653|      5417|       married|Approved| Bounce|        0.0|         0.0|     0.0|        0.0|(1,[0],[1.0])|(5,[0],[1.0])|(1,[0],[1.0])|[1.0,31.0,653.0,5...|
| 48|  Male|        16|      5417|       married|Declined|Cleared|        0.0|         0.0|     1.0|        1.0|(1,[0],[1.0])|(5,[0],[1.0])|    (1,[],[])|(10,[0,1,2,3,4],[...|
| 35|Female|       700|      6806|       married|Approved|Cleared|        1.0|         0.0|     0.0|        1.0|    (1,[],[])|(5,[0],[1.0])|(1,[0],[1.0])|(10,[1,2,3,4,9],[...|
+---+------+----------+----------+--------------+--------+-------+-----------+------------+--------+-----------+-------------+-------------+-------------+--------------------+
only showing top 5 rows

In [ ]:
lr = LogisticRegression(labelCol='statusIndex',featuresCol='features',maxIter=5)
#lr_pipeline = Pipeline(stages=[GenderIndexer, SmokeHistIndexer, OHE_Gender_Smoke, F_assembler,lr])
lr_pipeline = Pipeline(stages=[basePipe,lr])                    # Appending a stage to a pipeline
# training model pipeline with data
lr_model = lr_pipeline.fit(train_credit)
lr_predictions=lr_model.transform(val_credit)

In [ ]:
acc_evaluator = MulticlassClassificationEvaluator(labelCol="statusIndex", predictionCol="prediction", metricName="accuracy")
evaluator = BinaryClassificationEvaluator(labelCol='statusIndex')

In [ ]:
lr_acc=acc_evaluator.evaluate(lr_predictions)
#print('A Logistic Regression algorithm had an accuracy of: {0:2.2f}%'.format(lr_acc*100))
print(round(lr_acc,3), 'is the accuray of the LR pipeline')
lr_auroc = evaluator.evaluate(lr_predictions, {evaluator.metricName: "areaUnderROC"})
#auprc = evaluator.evaluate(predictions, {evaluator.metricName: "areaUnderPR"})
print("Area under ROC Curve: {:.4f}".format(lr_auroc))
#print("Area under PR Curve: {:.4f}".format(auprc))

0.541 is the accuray of the LR pipeline
Area under ROC Curve: 0.5567

In [ ]:
# random forest
rf = RandomForestClassifier(featuresCol = 'features', labelCol = 'statusIndex')
#rf_pipeline = Pipeline(stages=[GenderIndexer, SmokeHistIndexer, OHE_Gender_Smoke, F_assembler, rf])
rf_pipeline = Pipeline(stages=[basePipe, rf])
# training model pipeline with data
rf_model = rf_pipeline.fit(train_credit)
rf_predictions=rf_model.transform(val_credit)

In [ ]:
rf_acc=acc_evaluator.evaluate(rf_predictions)
print('A Random Forest algorithm had an accuracy of: {0:2.2f}%'.format(rf_acc*100))
# We have only two choices: area under ROC and PR curves :-(
rf_auroc = evaluator.evaluate(rf_predictions, {evaluator.metricName: "areaUnderROC"})
#auprc = evaluator.evaluate(predictions, {evaluator.metricName: "areaUnderPR"})
print("Area under ROC Curve: {:.4f}".format(rf_auroc))
#print("Area under PR Curve: {:.4f}".format(auprc))

A Random Forest algorithm had an accuracy of: 54.64%
Area under ROC Curve: 0.5521

In [ ]:
gbt = GBTClassifier(labelCol='statusIndex',featuresCol='features')
#gbt_pipeline = Pipeline(stages=[GenderIndexer, SmokeHistIndexer, OHE_Gender_Smoke, F_assembler, gbt])
gbt_pipeline = Pipeline(stages=[basePipe, gbt])
gbt_model = gbt_pipeline.fit(train_credit)
gbt_predictions = gbt_model.transform(val_credit)

In [ ]:
gbt_acc = acc_evaluator.evaluate(gbt_predictions)
print('Gradient Boost algorithm had an accuracy of: {0:2.2f}%'.format(gbt_acc*100))
# We have only two choices: area under ROC and PR curves :-(
gbt_auroc = evaluator.evaluate(gbt_predictions, {evaluator.metricName: "areaUnderROC"})
#auprc = evaluator.evaluate(predictions, {evaluator.metricName: "areaUnderPR"})
print("Area under ROC Curve: {:.4f}".format(gbt_auroc))
#print("Area under PR Curve: {:.4f}".format(auprc))

Gradient Boost algorithm had an accuracy of: 54.39%
Area under ROC Curve: 0.5573